In [1]:
import pandas as pd
import os
from functools import reduce

In [2]:
folder = 'vasquez_karla'
PATH = os.path.join('./Crowd', 'resultados', folder)
PATH

'./Crowd/resultados/vasquez_karla'

In [3]:
files = os.listdir(PATH)
files

['2nd-degree_2018-06-21_040902.csv',
 '2nd-degree_2018-06-21_010945.csv',
 '2nd-degree-SKIPPED_2018-06-18_050250.csv',
 '2nd-degree-SKIPPED_2018-06-21_040902.csv',
 '1st-degree_2018-06-13_1717.csv',
 '2nd-degree-SKIPPED_2018-06-21_010945.csv',
 '2nd-degree_2018-06-18_050250.csv']

## Checksum 1st degree

In [4]:
first_degree_file = [f for f in files if f.startswith('1st')][0]
first_degree_file

'1st-degree_2018-06-13_1717.csv'

In [5]:
print('Total records: ')
df_first = pd.read_csv(os.path.join(PATH, first_degree_file))
total = df_first.shape
total

Total records:

(126, 7)

In [6]:
print('Total active records: ')
total_active = df_first[df_first['active'] == 1].shape
total_active

Total active records:

(125, 7)

In [7]:
print('Processed: ')
processed = df_first[df_first['processed']].shape
processed

Processed:

(126, 7)

In [8]:
assert total == processed
print('ALL RECORDS HAVE BEEN PROCESSED')

ALL RECORDS HAVE BEEN PROCESSED

## Checksum 2nd degree

In [9]:
second_degree_files = [f for f in files if f.startswith('2nd') and f.find('SKIPPED') == -1]
second_degree_files

['2nd-degree_2018-06-21_040902.csv',
 '2nd-degree_2018-06-21_010945.csv',
 '2nd-degree_2018-06-18_050250.csv']

In [10]:
second_degree_skipped = [f for f in files if f.startswith('2nd') and f.find('SKIPPED') != -1]
second_degree_skipped

['2nd-degree-SKIPPED_2018-06-18_050250.csv',
 '2nd-degree-SKIPPED_2018-06-21_040902.csv',
 '2nd-degree-SKIPPED_2018-06-21_010945.csv']

In [11]:
second_degree_files

['2nd-degree_2018-06-21_040902.csv',
 '2nd-degree_2018-06-21_010945.csv',
 '2nd-degree_2018-06-18_050250.csv']

In [12]:
df = pd.concat([pd.read_csv(os.path.join(PATH, f)) for f in second_degree_files])
df.shape

(54922, 5)

In [13]:
df.head()

,A_id,B_id,A_name,B_name,active
0,100002548807217,100001758042604,Patty Velecela,Cristhian Fabian Larrea,1
1,100002548807217,100003606766056,Patty Velecela,Denisse Mishell Vaca,1
2,100002548807217,100003895002749,Patty Velecela,Ely Yubi,1
3,100002548807217,100009485412126,Patty Velecela,EveLin Tenezaca,1
4,100002548807217,100002093177599,Patty Velecela,Ismael Zhindón,1

In [14]:
print('Checksum total')
checksum_total = df['A_id'].unique().shape
checksum_total

Checksum total

(125,)

In [15]:
print('Skipped records')

df_skipped = pd.concat([pd.read_csv(os.path.join(PATH, f)) for f in second_degree_skipped]) \
if len(second_degree_skipped) > 0 else pd.DataFrame()
    
df_skipped.shape

Skipped records

(0, 1)

In [16]:
assert checksum_total[0] + df_skipped.shape[0] == total_active[0]
print('ALL ACTIVE RECORDS HAVE BEEN PROCESSED')

ALL ACTIVE RECORDS HAVE BEEN PROCESSED

In [17]:
# df[['A_name', 'B_id']].groupby('A_name', axis=0).count().sort_values('B_id', ascending=False)['B_id'].sum()

In [18]:
# df[['A_name', 'B_id']].groupby('A_name', axis=0).count().sort_values('B_id', ascending=False).reset_index()

## Summary

In [19]:
print('Hola, \n Tus datos pasaron el proceso de chequeo. Has finalizado tu trabajo.\n\n Resumen:')
print('\tTotal records: %.d' % total[0])
print('\tTotal active records: %.d - Skipped: %d' % (total_active[0], df_skipped.shape[0]))
print('\tTotal 2nd degree records: %.d' % df.shape[0])

Hola,
 Tus datos pasaron el proceso de chequeo. Has finalizado tu trabajo.

 Resumen:
	Total records: 126
	Total active records: 125 - Skipped: 0
	Total 2nd degree records: 54922

In [20]:
df_first.loc[0, 'A_id']

100026739159504

In [21]:
# https://www.facebook.com/100005543827430/friends?source_ref=pb_friends_tl