In [1]:
import pandas as pd
import multiprocessing as mp
import time

In [3]:
df = pd.read_csv('2nd-degree-totiz.csv')
df['processed'] = False

In [163]:
df.head()

,A_id,B_id,A_name,B_name,active,processed
0,100003776767390,100004648242525,Josue Montero Banegas,Lucy Ortiz,1,False
1,100003776767390,100003693200009,Josue Montero Banegas,Decanato Facultad De Ingeniera Universidad De ...,1,False
2,100003776767390,100002756209020,Josue Montero Banegas,ByRn BrrEt,1,False
3,100003776767390,100003172620047,Josue Montero Banegas,Daya Pacheco,1,False
4,100003776767390,100002471486062,Josue Montero Banegas,Christian Godoy,1,False

In [165]:
seeds = df['A_id'].unique()

In [166]:
seeds.shape

(30,)

In [167]:
seeds[:10].shape

(10,)

In [168]:
seeds[10:20].shape

(10,)

In [169]:
seeds[20:].shape

(10,)

In [170]:
df_1 = df[df['A_id'].isin(seeds[:10])].copy()
df_1.shape

(17573, 6)

In [173]:
df_1.to_csv('2nd-degree-partition01.csv')

In [171]:
df_2 = df[df['A_id'].isin(seeds[10:20])].copy()
df_2.shape

(8948, 6)

In [176]:
df_2.to_csv('2nd-degree-partition02.csv')

In [172]:
df_3 = df[df['A_id'].isin(seeds[20:])].copy()
df_3.shape

(2921, 6)

In [177]:
df_3.to_csv('2nd-degree-partition03.csv')

In [4]:
df.to_csv('2nd-degree-totiz.csv', index_label='index')

## Process

In [14]:
to_process_csv = 'to_process.csv'
workers = 3

In [8]:
df_orig = pd.read_csv('2nd-degree-totiz.csv', index_col='index')

In [9]:
df_orig['index'] = df_orig.index
df_orig.head()

,A_id,B_id,A_name,B_name,active,processed,index
index,,,,,,,
0,100003776767390,100004648242525,Josue Montero Banegas,Lucy Ortiz,1,False,0
1,100003776767390,100003693200009,Josue Montero Banegas,Decanato Facultad De Ingeniera Universidad De ...,1,False,1
2,100003776767390,100002756209020,Josue Montero Banegas,ByRn BrrEt,1,False,2
3,100003776767390,100003172620047,Josue Montero Banegas,Daya Pacheco,1,False,3
4,100003776767390,100002471486062,Josue Montero Banegas,Christian Godoy,1,False,4

In [11]:
df_orig.loc[:10,'processed'] = True

In [19]:
df = df_orig[df_orig['processed'] == False].copy()
df.head()

,A_id,B_id,A_name,B_name,active,processed,index
index,,,,,,,
11,100003776767390,100006532506358,Josue Montero Banegas,Fer Romero,1,False,11
12,100003776767390,100001965674297,Josue Montero Banegas,Paul Quintua Zaldua,1,False,12
13,100003776767390,100001387360679,Josue Montero Banegas,Daniel Parra Coronel,1,False,13
14,100003776767390,100013050617565,Josue Montero Banegas,Gabi Bernal,1,False,14
15,100003776767390,100007468062588,Josue Montero Banegas,Katherine Brito,1,False,15

In [16]:
df.to_csv(to_process_csv, index=False)

In [18]:
df = pd.read_csv(to_process_csv, index_col='index')
df.head()

,A_id,B_id,A_name,B_name,active,processed
index,,,,,,
11,100003776767390,100006532506358,Josue Montero Banegas,Fer Romero,1,False
12,100003776767390,100001965674297,Josue Montero Banegas,Paul Quintua Zaldua,1,False
13,100003776767390,100001387360679,Josue Montero Banegas,Daniel Parra Coronel,1,False
14,100003776767390,100013050617565,Josue Montero Banegas,Gabi Bernal,1,False
15,100003776767390,100007468062588,Josue Montero Banegas,Katherine Brito,1,False

In [103]:
df_orig[df_orig['processed']].shape

(0, 6)

In [62]:
reader = pd.read_csv(to_process_csv, chunksize=50)

In [68]:
for i in range(0, workers):
    chunk = reader.get_chunk()
    print(chunk.shape)
    df_orig.loc[chunk.index, 'processed'] = True

(50, 7)
(50, 7)
(50, 7)

In [137]:
df_orig[df_orig['processed']].shape

(0, 6)

In [152]:
reader = pd.read_csv(to_process_csv, chunksize=50)

In [153]:
def perform_parallel_process(df):
    time.sleep(5)
    print(df.shape)
    return df.index

In [154]:
pool = mp.Pool(workers)

(50, 7)
(50, 7)
(50, 7)

In [ ]:
pool.

In [155]:
processes = []
for i in range(0, workers):
    df_chunk = reader.get_chunk()
    p = pool.apply_async(perform_parallel_process, [df_chunk])
    processes.append(p)

In [156]:
for p in processes:
    print(p.get())

RangeIndex(start=0, stop=50, step=1)
RangeIndex(start=50, stop=100, step=1)
RangeIndex(start=100, stop=150, step=1)

In [118]:
a.get()

RangeIndex(start=0, stop=50, step=1)

In [ ]:
df_orig.loc[chunk.index, 'processed'] = True

In [128]:
df_orig[df_orig['processed']].shape

(0, 6)

In [96]:
df[['A_name', 'A_id']][:1].to_dict('records')
#.to_json(orient='records')

[{'A_id': 100003776767390, 'A_name': 'Josue Montero Banegas'}]

In [94]:
df.to_dict??

In [93]:
df.to_json??

In [69]:
df_orig[df_orig['processed']].shape

(150, 6)

In [161]:
s = time.time()
time.sleep(5)
e = time.time()
(e - s)

5.002885103225708

In [18]:
processed = df[df['processed'] == False]

In [19]:
processed.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            29432, 29433, 29434, 29435, 29436, 29437, 29438, 29439, 29440,
            29441],
           dtype='int64', name='index', length=29442)

In [33]:
df.loc[0:10, 'processed'] = True

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
df.to_csv('2nd-degree-totiz.csv')

In [51]:
df = pd.read_csv('2nd-degree-totiz.csv', index_col='index')
df.head()

,A_id,B_id,A_name,B_name,active,processed
index,,,,,,
0,100003776767390,100004648242525,Josue Montero Banegas,Lucy Ortiz,1,True
1,100003776767390,100003693200009,Josue Montero Banegas,Decanato Facultad De Ingeniera Universidad De ...,1,True
2,100003776767390,100002756209020,Josue Montero Banegas,ByRn BrrEt,1,True
3,100003776767390,100003172620047,Josue Montero Banegas,Daya Pacheco,1,True
4,100003776767390,100002471486062,Josue Montero Banegas,Christian Godoy,1,True

In [50]:
pd.read_csv??

In [34]:
df.head()

,A_id,B_id,A_name,B_name,active,processed
index,,,,,,
0,100003776767390,100004648242525,Josue Montero Banegas,Lucy Ortiz,1,True
1,100003776767390,100003693200009,Josue Montero Banegas,Decanato Facultad De Ingeniera Universidad De ...,1,True
2,100003776767390,100002756209020,Josue Montero Banegas,ByRn BrrEt,1,True
3,100003776767390,100003172620047,Josue Montero Banegas,Daya Pacheco,1,True
4,100003776767390,100002471486062,Josue Montero Banegas,Christian Godoy,1,True

In [28]:
df[df['processed'] == False].shape

(0, 6)

In [3]:
reader = pd.read_csv('2nd-degree-totiz.csv', chunksize=50)
reader

In [5]:
for r in reader:
    df = r
    break

In [8]:
reader.

,A_id,B_id,A_name,B_name,active
50,100003776767390,100000391413779,Josue Montero Banegas,Pedro Iniguez Pena,1
51,100003776767390,100003327996514,Josue Montero Banegas,Daysi Vega Cuzco,1
52,100003776767390,100001271661278,Josue Montero Banegas,Mateo Echeverria P,1
53,100003776767390,100001356698845,Josue Montero Banegas,Francisco Jaramillo,1
54,100003776767390,100014470278500,Josue Montero Banegas,Carlos Quintua,1
55,100003776767390,100002022755095,Josue Montero Banegas,Maria Esther Guzmn,1
56,100003776767390,537111577,Josue Montero Banegas,Felipe Le,1
57,100003776767390,100006443442941,Josue Montero Banegas,Karla Bustamante,1
58,100003776767390,100002913593350,Josue Montero Banegas,Paul Flores,1
59,100003776767390,100002450400143,Josue Montero Banegas,Indie Pendiente,1
60,100003776767390,100001375373780,Josue Montero Banegas,Karla Salas Faican,1
61,100003776767390,100008970286613,Josue Montero Banegas,Camila Len Ros,1
62,100003776767390,100006341470092,Josue Montero Banegas,Marco Astudillo Zalamea,1
63,100003776767390,100003293000179,Josue Montero Banegas,Josefina Rojo,1
64,100003776767390,100002246588179,Josue Montero Banegas,Bryam Argello,1
65,100003776767390,100002203270213,Josue Montero Banegas,Rodrigo Matute Torres,1
66,100003776767390,100001482900923,Josue Montero Banegas,Michelle Mory,1
67,100003776767390,100004085673461,Josue Montero Banegas,Ana Paula Orellana,1
68,100003776767390,100001513936371,Josue Montero Banegas,Ely Astudillo,1
69,100003776767390,100001123966529,Josue Montero Banegas,Mara Paz Zhindn,1
70,100003776767390,100001331227113,Josue Montero Banegas,Selena Santos Campoverde,1
71,100003776767390,100001693057799,Josue Montero Banegas,Carlos Armijos Gmez,1
72,100003776767390,100003528882066,Josue Montero Banegas,ngela Nicole Briones,1
73,100003776767390,100006307893754,Josue Montero Banegas,Marti Salinas Vzquez,1
74,100003776767390,100000293038348,Josue Montero Banegas,Belem Ra,1
75,100003776767390,100002403073570,Josue Montero Banegas,Adrin Arvalo,1
76,100003776767390,100001576104029,Josue Montero Banegas,Sofy Alban,1
77,100003776767390,100000136041984,Josue Montero Banegas,Domenica Vera,1
78,100003776767390,100008465703640,Josue Montero Banegas,Anita Pesantez Picn,1
79,100003776767390,100005623411068,Josue Montero Banegas,Ame Pesantez,1
80,100003776767390,100003587374949,Josue Montero Banegas,Christian Zambrano Pea,1
81,100003776767390,100008627621467,Josue Montero Banegas,Laura Pabon,1
82,100003776767390,1558840611,Josue Montero Banegas,Paz Carpio Martnez,1
83,100003776767390,100002025291762,Josue Montero Banegas,Franklin Vazquez,1
84,100003776767390,100003865412215,Josue Montero Banegas,Cris Cabrera Ortiz,1
85,100003776767390,100007568258277,Josue Montero Banegas,Fernanda Sarmiento Cruz,1
86,100003776767390,100001256297979,Josue Montero Banegas,Nico Coello,1
87,100003776767390,100001505553245,Josue Montero Banegas,Domnica Cobos Rivera,1
88,100003776767390,100001033756556,Josue Montero Banegas,Beln Merchn,1
89,100003776767390,100001804484737,Josue Montero Banegas,Ismael Quezada,1
90,100003776767390,100002392316367,Josue Montero Banegas,Melanie Riera Martnez,1
91,100003776767390,100004798872768,Josue Montero Banegas,Ana Cris Pavon Guillen,1
92,100003776767390,100022695661186,Josue Montero Banegas,Anghie Bubll,1
93,100003776767390,100002072558194,Josue Montero Banegas,Mel Mogrovejo,1
94,100003776767390,100005030448103,Josue Montero Banegas,Emily Cordova Jerves,1
95,100003776767390,100005724739028,Josue Montero Banegas,Fatima Naveda,1
96,100003776767390,100009647237505,Josue Montero Banegas,Gatta Chvez,1
97,100003776767390,100001520992181,Josue Montero Banegas,Andres Moncayo Andrade,1
98,100003776767390,100001802978535,Josue Montero Banegas,Angie Pintado,1
99,100003776767390,100001185122296,Josue Montero Banegas,Jaime Bermeo,1